# ----------------------------------------------------------------------- #
#                 .rtorrent.rc config file by L0NDONER                    #
# ----------------------------------------------------------------------- #
 
# To erase files when you remove them from the client.
 
# system.method.set_key = event.download.erased,id,"execute={rm,-rf,--,
# $d.get_base_path=}"
 
# Default session directory.
 
session = .rtorrent_sess
 
# Watch a directory for new torrents.
 
schedule = watch_directory,5,5,"load_start=/home/usernamehere/.watch/*.torrent,d.set_directory=/home/usernamehere/Downloads/"
 
# Remove your torrents from the running rtorrent when the files are deleted.
 
schedule = untied_directory,10,10,remove_untied=
 
# Port range to use for listening.
 
port_range = 50000-55000
 
# Start opening ports at a random position within the port range.
 
port_random = yes
 
# Set whetever the client should try to connect to UDP trackers.
 
use_udp_trackers = no
 
# Encryption options:
 
encryption = allow_incoming,enable_retry,try_outgoing
 
# DHT support disabled, only good for public trackers.
 
dht = disable
 
# Enable peer exchange (for torrents not marked private).
 
peer_exchange = no

# global upload and download rate in KiB. “0” for unlimited
# throttle.global_up.max_rate.set_kb = 0
# throttle.global_down.max_rate.set_kb = 0
upload_rate = 0
download_rate = 0

# protocol.encryption.set =
encryption = allow_incoming,enable_retry,prefer_plaintext

#rtorrent new file size
#system.file.allocate.set = no
 
# --------------------------------------------------------------------- #
# End of .rtorrent.rc config file. Feel free to edit for your needs.    #
# --------------------------------------------------------------------- #
